
body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}


#calcu {
    width: 480px;
    background: #2f5d57;
    padding: 30px;
    border-radius: 22px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    border-spacing: 8px;
}


#result {
    background: #efece6;
    height: 70px;
    font-size: 32px;
    text-align: right;
    padding-right: 15px;
    border-radius: 12px;
    border: none;
    outline: none;
    color: #333;
}


input[type="button"] {
    width: 75px;
    height: 75px;
    font-size: 24px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-weight: bold;
    background: #d7e0e0;   
    color: #033;
    transition: 0.2s;
}


input[type="button"]:hover {
    filter: brightness(0.9);
}


input[value="+"],
input[value="-"],
input[value="*"],
input[value="/"] {
    background: #26a69a;
    color: white;
}


input[value="="] {
    background: #26a69a;
    color: white;
}


input[value="C"] {
    background: #e63946;
    color: white;
}
