body {
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 1300px;
    margin: auto;
    padding: 15px;
    border: 2px solid #e0e0e0;
    border-radius: 18px;
    background-color: #2f5d57;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}
.title {
    text-align: center;
    margin-bottom: 30px;
}

/* SUMMARY CARDS */
.summary-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card p {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

/* CHARTS */
.chart-container {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    align-items: stretch;
}

.chart-box {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.pie-container {
    width: 280px;          
    height: 280px;
    margin: 0 auto;        
    background-color: #f7f9fc;  
    border-radius: 12px;
    padding: 10px;
}
.bar-container {
    width: 100%;
    height: 280px;  
}