
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    font-family: Arial, sans-serif;
}


.container {
    margin: 40px;
    background: #2f5d57;
    padding: 35px;
    width: 900px;             
    max-width: 95%;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.35);
}



h1 {
    color: #efece6;
    margin-bottom: 20px;
}

h2 {
    color: #efece6;
    margin-top: 25px;
}

.alltext {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 28px 40px;
}



.alltext label {
    grid-column: span 2; 
    color: #efece6;
    font-weight: bold;
    margin-bottom: 6px;
}


.alltext input {
    width: 100%;
    height: 42px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding-left: 12px;
    font-size: 15px;
    background: #efece6;
}


.field.full {
    grid-column: span 2;
}

.field label {
    margin-bottom: 8px;   
    display: block;
}





.buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;          
    gap: 12px;
}

.buttons button {
    flex: 1 1 45%;            
    height: 42px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background: #78d4d4;
    color: #033;
    transition: 0.2s;
}

.buttons button:hover {
    filter: brightness(0.9);
}



#output {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 14px;
    background: #efece6;
    font-size: 14px;
    font-weight: bold;
}



.bottom {
    margin-top: 20px;
    text-align: center;
}

.bottom a {
    color: #78d4d4;
    text-decoration: none;
    font-weight: bold;
}

.bottom a:hover {
    text-decoration: underline;
}
h2 {
    margin-top: 35px;
    margin-bottom: 10px;
}
.logout-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.logout-btn:hover {
    background: #bb2d3b;
}
